<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Agent</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" />
    <script src="/js/bootstrap.min.js" />
    <link rel="stylesheet" type="text/css" href="/css/agent_page_style.css" />
</head>

<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div class="username-page" id = "username-page">
    <form id="usernameForm" name="usernameForm">
        <h1 class="title">Agent</h1>
        <input type="text" id="name" placeholder="Enter your username" autocomplete="off" class="form-control" name="username"/>
        <input type="text" id="numberClient" placeholder="Number of clients" autocomplete="off" class="numberClient" name="numberClient"/>
        <button>Start chatting</button>
    </form>
</div>

<div id="chat-page" class="hidden">
    <div class="chatbox">
        <ul class="nav nav-tabs" id="tabs">
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="chatlogs" id="#tab1">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/agent_handler.js"></script>
</body>
</html>
