<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Client</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div id="username-page">
    <div class="username-page-container">
        <h1 class="title">You are client</h1>
        <h1 class="title">Enter your username</h1>
        <form id="usernameForm" name="usernameForm">
            <div class="form-group">
                <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control"  name="username"/>
            </div>
            <div class="form-group">
                <button type="submit" class="accent username-submit">Start Chatting</button>
            </div>
        </form>
    </div>
</div>

<div id="chat-page" class="hidden">
    <div class="chat-container">
        <div class="chat-header">
            <h2>Chat</h2>
        </div>
        <div class="connecting">
            Wait agent
        </div>
        <ul id="messageArea">

        </ul>
        <form id="messageFormSend" name="messageFormSend" nameForm="messageFormSend">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control" name="message"/>
                    <button type="submit" id="sendButton" class="primary">Send</button>
                </div>
            </div>
        </form>

        <form id="messageFormLeave" name="messageFormLeave" nameForm="messageFormLeave">
            <div class="form-group">
                <div class="input-group clearfix">
                    <button type="submit" id='leaveButton' class="primary">Leave</button>
                </div>
            </div>
        </form>

        <form id="messageFormExit" name="messageFormExit" nameForm="messageFormExit">
            <div class="form-group">
                <div class="input-group clearfix">
                    <button type="submit" id='exitButton' class="primary">Exit</button>
                </div>
            </div>
        </form>

    </div>
</div>

<script src="/js/main.js"></script>
</body>
</html>