<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Client</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" />
    <script src="/js/bootstrap.min.js" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div class="username-page" id = "username-page">
    <form id="usernameForm" name="usernameForm">
        <h1 class="title">Client</h1>
        <input type="text" id="name" placeholder="Enter your username" autocomplete="off" class="form-control" name="username"/>
        <button>Start chatting</button>
    </form>
</div>

<div id="chat-page" class="hidden">
    <div class="chatbox">
        <h1 class="title">Chat</h1>
        <div class="chatlogs" id="chatlogs"></div>
        <div class="chat-form">
            <form class='sendForm' id="sendForm" name="sendForm">
                <textarea name="textarea" placeholder="Type a message..."></textarea>
                <button>Send</button>
            </form>
        </div>

        <div class="leave">
            <form id="leave" name="leaveForm">
                <button>Leave</button>
            </form>
        </div>

        <div class="exit">
            <form id="exitForm" name="exitForm">
                <button>Exit</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/client.js"></script>
</body>
</html>
